body {
    background-image: url("images/background.png");
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
 }  


 h1 {
    color: white;
    font-size: 31pt;
    font-family: '', serif;
    text-align: center;

}

 #main {
	padding: 10px 10px 10px 10px;
	margin: 40px 40px 40px 40px;
	min-height: 86%;	
}

 #main-image {
	 width: 98%;
}


p {
  text-align: center;
}

nav {
	float: right;
	margin-right: 35px;
}

li {
	display: inline-block;
}

a {
	color: white;
	text-decoration: none;
	margin-left: 10px;
	margin-right: 10px;
  font-size: 20px;
}
